.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://static1.squarespace.com/static/56683ecaa2bab88225a87738/t/5beb42ea6d2a730abeb42095/1542144814223/tonycs-179.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  height: 100px;
  width: 80%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.head {
  display: flex;
  flex-direction: row;
  flex: 1;
  list-style-type: none;
  justify-content: space-evenly;
}