.header {
  border: 1px solid green;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.logo {
  border: 1px solid blue;
  display: grid;
  grid-column: 1/6;
  grid-row: 1/2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}
.nav {
  border: 1px solid red;
  width: 30%;
  height: 80px;
  list-style-type: none;
  display: grid;
  grid-column: 1/6;
  grid-row: 2/2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

}