.main-container {
  height: 100%;
  width:100%;
  display: inline-block;
}
.header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.logo {
  display: grid;
  grid-column: 1/6;
  grid-row: 1/2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}
.nav {
  width: 30%;
  height: 80px;
  list-style-type: none;
  display: grid;
  grid-column: 1/6;
  grid-row: 2/2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

}
.body {
  height: 100%;
  width: 100%;
}
.main-img{
  max-width: 100%;
  max-height: 100%;
}
.text-box {
  left: 50%;
    margin-left: -480px;
    margin-top: 10%;
    padding: 0 0 0 470px;
    position: absolute;
    top: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
h2 {
  margin: 0 0 18px;
  padding: 23px 27px 20px;
  text-transform: uppercase;
  background-color: #fff;
}
.beacon {
  background: black;
  color: white;
  margin: 7px 0;
  padding: 12px 27px;
}
.read-more {
  background: turquoise;
  color: white;
  margin: 15px 0 0;
  padding: 26px 27px 22px;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
.three-types {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.names {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  body {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .text-box {
  left: 0;
  margin: 0;
  padding: 0 2%;
  position: absolute;
  top: 0;
  text-align: left;
  width: 96%;
  }
  .three-types {
    display: flex;
    flex-direction: column;
  }
}