.main-container {
    height: 100%;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}
header {
    display: inline-block;
    border: 1px solid grey;
}
.header {
    font-size: 12px;
}
.title {
    color: black;
    border-bottom: 4px solid black;
}
.Summary{
    text-align: center;
    font-style: italic;
}
.textbox {
    font-family: "Courier New", Courier, monospace;
}
.Job {
    color: blue;
     
}
ul{
    list-style-type: circle;
    font-family: "Courier New", Courier, monospace;
}