.main-container {
    height: 100%;
}
header {
    padding: 5px;
    background-color: blue;
    color: white;
    text-align: right;
}
nav {
    padding: 10px;
    text-align: right;
    background-color: whitesmoke;
}
i {
    float: left;
}
.ApplyNow {
    background-color: orange;
    color: white;
}
main {
    text-align: center;
    background-color: lightslategray;
    vertical-align: middle;
    height: 100%;
}
section {
    display: inline-block;
    background-color: white;
    box-sizing: content-box;
    width: 400px;
    margin-top: 2%;
    text-align: left;
}
.Post1 {
    border: 0.5px solid grey;
    box-sizing: border-box;
}
.Post2 {
    border:0.5px solid grey;
    box-sizing: border-box;
}
.Post3 {
    border:0.5px solid grey;
    box-sizing: border-box;
}
h6 {
    color: grey
}
h5:hover:first-letter {
    color: red;
}
footer {
    padding: 30px;
    text-align: middle;
    background-color: lightgray;
}
.footer {
    text-align: center;
    background-color: lightgray;
}
.footer1 {
    color: orange;
}
#logo {
    text-align: center;
    color: orange;
}